# Environment
.env
*.local

# Binaries
*.exe
*.exe~
bin/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Go
*.test
*.out
vendor/

.terraform/


*terraform.tfstate
*terraform.tfstate.backup
*terraform.tfstate.lock.info
*security_groups.tf 

*.tfvars
*.tfvars.json
